<div id="content">
  <div class="inner">
      <article class="box post post-excerpt">
        <h2>Editing Post</h2>
        <%= render 'form' %>

        <%= link_to 'Show', @post, class: "btn btn-warning" %>
        <%= link_to 'Back', posts_path, class: "btn btn-default" %>
      </article>
  </div>
</div>
